.display-calc{
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 60px;
    background: rgb(18, 16, 23);
    color: white;
    padding: 30px;
    text-align: right;
    display: flex;
    justify-content:end;
    align-items: center;
    font-size: 2rem;
}